---

import { Activity, Clock, Link, List, FolderHeart, Folder, Bot, Book, Star, Bookmark, Logs} from 'lucide-react'
import type { CardProps, ActivityItem } from '~/types'
import LinkViewAll from '~/components/dashboard/sub/LinkViewAll.astro'

const iconMap = {Activity,Bot,Book,Bookmark,Clock,Folder,Link,List,Logs,FolderHeart,Star}

interface Props extends CardProps {}

const { cardName, cardIcon, activities} = Astro.props

const CardIcon = iconMap[cardIcon]

const test = cardName

const formatActivities = (activityData) => {
  return activityData.activities.map((activity) => {
    const ActionIcon = iconMap[activity.actionIcon];
    return {
      icon: ActionIcon,
      action: activity.action,
      name: activity.name,
      timestamp: activity.timestamp,
      description: activity.description
    };
  });
};

// Esempio di utilizzo
const formattedActivities = formatActivities(recentActivityData);
console.log(formattedActivities);

---

<div class="bg-white rounded-lg shadow-sm p-4 flex flex-col justify-between h-full">
  <div class="flex flex-row justify-center items-center gap-2 pt-4 mb-6">
    <CardIcon className="w-5 h-5 text-indigo-600" />
    <h2 class="text-xl font-semibold text-gray-900">{cardName}</h2>
  </div>
  <div class="relative flex flex-col flex-1 justify-between">
    <div class="flex flex-col justify-start space-y-4">
      {activities.map((activity: ActivityItem) => {
        const ActionIcon = iconMap[activity.actionIcon]
        return (
          <div class="flex items-start gap-3">
            <div class="flex-shrink-0">
              {ActionIcon && <ActionIcon className="w-5 h-5 text-indigo-600" />}
            </div>
            <div class="flex flex-col">
              <p class="text-sm text-gray-900">
                <span class="font-medium">{`${activity.name}: `}</span>{activity.action}
              </p>
              <div class="flex items-center gap-1 mt-1 text-sm text-gray-500">
                {activity.timestamp ? (
                  <span>{activity.timestamp}</span>
                ) : activity.description ? (
                  <span>{activity.description}</span>
                ) : 'Noting interesting'}
              </div>
            </div>
          </div>
        )







      })}



    </div>
  </div>
</div>



