---
import FormComponent from '~/components/base/IsForm.astro'

const {
  inputs,
  title,
  action,
  button,  
  text,
  doForm,
  isAuthForm,
  id,
  classes = {}
} = Astro.props

console.log(`action is ${action}`)
---

--- ---

<div class="flex items-center min-h-screen bg-bgDark1">
  <div class="mx-auto container">
    <div class="max-w-md mx-auto my-10">
      <div class="text-center">
        <h1 class="my-3 text-3xl font-semibold text-primaryText">{title}</h1>
        <p class="text-secondaryText">{text}</p>
      </div>
      <div class="m-7">
        <FormComponent inputs={inputs} action={action}  button={button} doForm={doForm} isAuthForm={isAuthForm} />
      </div>
    </div>
  </div>
</div>
