---
import Button from '~/components/dev/Button.astro'
import { SPACING, LAYOUT } from '~/config/styleCostants'
import { twMerge} from 'tailwind-merge'

---
<div 
    id="cta-wrapper-id"
    class={twMerge(`max-w-[85rem] ${SPACING.PADDING.BASE} mx-auto ${SPACING.VERTICAL.SECTION}`)}
>
    <!-- Button Grid -->
    <div class={twMerge(`${LAYOUT.FLEX.CENTER}, ${SPACING.GAP.LG} !important, ${SPACING.MARGIN.SECTION_TOP}`)}>
        <Button
            text="Get Started"
            variant="getStarted"
            ariaLabel="Get started"
            url="/register"
        />
        <Button
            text="Download"
            variant="download"
            ariaLabel="Download"
            url="/openfav-ext.zip"

        />
    </div>
    <!-- End of Button Grid -->
</div>
