---
import Button from '~/components/base/Button.astro'
import SocialButtons from '~/components/base/SocialAuthButtons.astro'

const { inputs, action, doForm, isAuthForm } = Astro.props

const isLogin = doForm === 'login'

console.log(`in form component action is ${action}`)

---

<form
    action={action}
    class="grid grid-cols-1 gap-3 w-full"
    method="post"
    enctype="application/x-www-form-urlencoded"
>
    {!isLogin && (
        <Fragment>
            <div class="mb-6">
                {inputs && inputs.map(
                    ({ type = null, name, label = '', autocomplete = 'on', placeholder = '' }) =>
                        name && (
                            <div class="mb-6">
                                {label && (
                                    <label for={name} class="block mb-2 text-sm text-secondaryText">
                                        {label}
                                    </label>
                                )}
                                {type === 'textarea' ? (
                                    <textarea
                                        id={name}
                                        name={name}
                                        placeholder={placeholder}
                                        rows="4"
                                        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
                                    />
                                ) : (
                                    <input
                                        type={type}
                                        name={name}
                                        id={name}
                                        placeholder={placeholder}
                                        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
                                    />
                                )}
                            </div>
                        )
                    )
                }
                <div class="mb-6">
                    <Button />
                </div>
                {isAuthForm && (
                    <p class="text-sm text-center text-gray-400">Don&#x27;t have an account yet? 
                        <a href="/register" class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800">Sign up</a>.
                    </p>
                )}
            </div>
            <div class="py-3 flex items-center text-xs text-secondaryText uppercase before:flex-1 before:border-t before:border-mainBorder before:me-6 after:flex-1 after:border-t after:border-mainBorder after:ms-6">Or</div>
        </Fragment>
    )}
    
    <!--- HEREEEE -->
    {isLogin && (
        <Fragment>
            <div class="mb-6">
                {inputs &&
                    inputs.map(
                        ({ type = null, name, label = '', autocomplete = 'on', placeholder = '' }) =>
                            name && (
                                <div class="mb-6">
                                    {label && (
                                        <label for={name} class="block mb-2 text-sm text-secondaryText">
                                            {label}
                                        </label>
                                    )}
                                    <input
                                        type={type}
                                        name={name}
                                        id={name}
                                        autocomplete={autocomplete}
                                        placeholder={placeholder}
                                        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
                                    />
                                </div>
                        )
                    )
                }
                <div class="mb-6">
                    <Button />
                </div>
                {isAuthForm && (
                    <p class="text-sm text-center text-gray-400">Don&#x27;t have an account yet? 
                        <a href="/register" class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800">Sign up</a>.
                    </p>
                )}                
            </div>
        </Fragment>
    )}        
</form>
<!-- Bottoni Social Fuori dal Form -->
<!-- New -->
{isAuthForm && (
    <SocialButtons />
)}

