---
import { twMerge } from 'tailwind-merge';

interface Props {
  text: string;
  variant?: 'getStarted' | 'liveDemo';
  ariaLabel?: string;
  url?: string;
  className?: string;
}

const {
  text,
  variant = 'getStarted',
  ariaLabel,
  url,
  className = ''
} = Astro.props

const variants = {
  getStarted: 'bg-primaryColor hover:bg-secondaryColor border-primaryColor',
  liveDemo: 'bg-bgDark2 hover:bg-bgDark3 border-primaryColor',
  Login: 'class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none'

}

const baseClasses = 'w-64 h-12 rounded-xl font-bold text-primaryText border border-solid flex justify-center items-center cursor-pointer transition';

const buttonClasses = twMerge(
  baseClasses,
  variants[variant],
  className
);
---

{
    url ? (
        <a
        href={url}
            class={buttonClasses}
            aria-label={ariaLabel || text}
        >
        {text}
        </a>
    ) : (
        <button
            class={buttonClasses}
            aria-label={ariaLabel || text}
        >
        {text}
        </button>
    )
}