---
import { twMerge } from 'tailwind-merge'
import * as fonts from '~/config/costants'

interface Props {
  text: string
  variant?: 'getStarted' | 'download'
  ariaLabel?: string
  url?: string
  className?: string
}

const {
  text,
  variant = 'getStarted',
  ariaLabel,
  url,
  className = ''
} = Astro.props

const variants = {
  getStarted: fonts.BT_GET_STARTED,
  download: fonts.BT_DOWLOAD,
  Login: 'class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none'
}

const baseClasses = 'w-64 h-12 rounded-xl font-bold text-primaryText border border-solid flex justify-center items-center cursor-pointer transition';

const buttonClasses = twMerge(
  baseClasses,
  variants[variant],
  className
)
---

{
  url ? (
    <a
      href={url}
      class={buttonClasses}
      aria-label={ariaLabel || text}
    >{text}</a>
  ) : (
    <button
      class={buttonClasses}
      aria-label={ariaLabel || text}
    >{text}</button>
  )
}