---
//import ItemGrid from '~/components/dev/ItemGridDev.astro'
import { twMerge } from 'tailwind-merge'
import { Icon } from 'astro-icon/components'
import MainHeaderCard from '~/components/dashboard/sub/MainHeaderCard.astro'
import {allActions} from '~/api/doCards'
import {doCard} from '~/api/doCardsV1'
import {featuredCards} from '~/api/doCardsV2'
import {printFullObject} from '~/scripts/utils'

console.log(printFullObject(featuredCards))

//const my_card = 'my cardname'
/*
const urlsCardNew = doCard('urls', my_card)
const listsCardnew = doCard('lists', 'another cardname')

// Esempio di utilizzo



console.log('getting card', urlsCardNew().getCardData())

const listsCardNew = doCard('lists', 'another cardname')

console.log('getting card', urlsCardNew().getCardData())

urlsCardNew().updateCardTitle('Nuovo Titolo')
console.log('card after title update', urlsCardNew().getCardData())

urlsCardNew().updateCard({
  cardIcon: 'link',
  action_url: 'https://example.com'
})
urlsCardNew().addActivity('Created List', 'folder', {
  description: 'Card creata da Vincenzo Navarra',
  name: 'Enzo'
})
urlsCardNew().addActivity('Created List', 'clock', {
  description: 'Card creata da Luigi Frisco',
  name: 'Enzo'
})

listsCardnew().addActivity('Updated List', 'clock', {
  description: 'Lista aggiornata da Dino di Piazza',
  name: 'Maria'
})
console.log('card after full update', urlsCardNew().getCardData())

// Aggiornamento del cardTitle
/*const set_title = urlsCardNew().updateCardTitle
console.log('card after title update', set_title('piedi'))*/

// Aggiornamento di altri campi della card

/*urlsCardNew().updateCard({
  cardIcon: 'link',
  action_url: 'https://example.com'
})*/
//console.log('card after full update', urlsCardNew().getCardData())

/*
console.log('getting card', urlsCardNew().getCardData())

// Add activities
urlsCardNew().addActivity('Created List', 'folder', {
  description: 'Card creata da Vincenzo Navarra',
  name: 'Enzo'
})
urlsCardNew().addActivity('Created List', 'clock', {
  description: 'Card creata da Luigi Frisco',
  name: 'Enzo'
})

listsCardnew().addActivity('Updated List', 'clock', {
  description: 'Lista aggiornata da Dino di Piazza',
  name: 'Maria'
})

// Get the card data
console.log(urlsCardNew().getCardData())
console.log(urlsCardNew().getCardData())

*/



const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props








const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
  action: actionClass = '',
} = classes;

const updatedItems = [
  { type: 'allActions'},
  ...items,
]
---

{
  updatedItems && (
    <div
      class={twMerge(
        `grid mx-auto gap-8 md:gap-y-12 ${
          columns === 4
          ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
          : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                  ? 'sm:grid-cols-2 '
                  : ''
        }`,
        containerClass
      )}
    >
      {updatedItems.map((item) => (
        <div>
         {item.type === 'allActions' ? (
            <MainHeaderCard  {...allActions} />
          ) : (
            <div class={twMerge('flex flex-row max-w-md', panelClass, item.classes?.panel)}>
              <div class="flex justify-center">
                {(item.icon || defaultIcon) && (
                  <Icon
                    name={item.icon || defaultIcon}
                    class={twMerge('w-7 h-7 mr-2 rtl:mr-0 rtl:ml-2', defaultIconClass, item.classes?.icon)}
                  />
                )}
              </div>
              <div class="mt-0.5">
                {item.title && <h3 class={twMerge('text-xl font-bold', titleClass, item.classes?.title)}>{item.title}</h3>}
                {item.description && (
                  <p
                    class={twMerge(`${item.title ? 'mt-3' : ''} text-muted`, descriptionClass, item.classes?.description)}
                    set:html={item.description}
                  />
                )}
              </div>
            </div>
          )}
        </div>
      ))}
    </div>
  )
}
