---
import ItemGrid from '~/components/dev/ItemGridDev.astro'
import Image from '~/components/base/Image.astro'
import * as fonts from '~/config/constant-fonts'

const {  
  content = await Astro.slots.render('content'),  
  items = [],
  columns,
  image = await Astro.slots.render('image'),
  isReversed = false,  
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props



---
<div class="mx-auto max-w-7xl p-4 md:px-8 text-secondaryColor text-sm sm:text-base mb-6 sm:mt-32 mt-16">
    <div class={`md:flex ${isReversed ? 'md:flex-row-reverse' : ''} md:gap-16`}>
        <div class="md:basis-1/2 self-center">
            {content && <div class="mb-12 text-lg dark:text-slate-400" set:html={content} />}
            <ItemGrid
                items={items}
                columns={columns}
                defaultIcon="tabler:check"
                classes={{
                    container: `gap-y-4 md:gap-y-8`,
                    panel: 'max-w-none',
                    title: 'text-lg font-medium leading-6 text-white ml-2 rtl:ml-0 rtl:mr-2 font-bold',
                    description: `description: ${fonts.SECTION_LIST_WHITE} ml-2 rtl:ml-0 rtl:mr-2`,
                    icon: 'flex h-7 w-7 items-center justify-center rounded-full bg-gradient-to-br from-blue-600 to-violet-600 text-gray-50 p-1',
                    action: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
                }}
            />
        </div>
        <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
            {
                image && (
                    <div class="relative m-auto max-w-4xl">
                        {typeof image === 'string' ? (
                            <Fragment set:html={image} />
                        ) : (
                            <Image
                                class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
                                width={500}
                                height={500}
                                widths={[400, 768]}
                                sizes="(max-width: 768px) 100vw, 432px"
                                layout="responsive"
                                {...image}
                            />
                        )}
                    </div>
                )
            }
        </div>
    </div>
</div>
